<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form  method="post">
        <h1>Регистрация</h1>
        <hr>

        <label style="margin-bottom: 25px;">Дата рождения: </label>
        <input type="date" name="birthdate" >
        <label><b>Введите имя</b></label>
        <input type="text" name="name"  >
        <label ><b>Введите фамилию</b></label>
        <input type="text" placeholder="Фамилия" name="surname" >
        <label ><b>Введите отчество</b></label>
        <input type="text" placeholder="Отчество" name="middlename" >
        <label ><b>Введите номер телефона</b></label>
        <input type="tel" name="phone">

        <input type="text" placeholder="Город" name="address" >
        <label ><b>E-mail</b></label>
        <input type="email" name="email"  >
        <label ><b>Username</b></label>
        <input type="text" name="username"  >
        <label ><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" >

        <hr>
        <button type="submit" >Зарегистрироваться</button>

</form>
</body>
</html>