<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Книги пользователя</title>
</head>
<body>
<h1><a href="http://localhost:8081/">Главная</a></h1>
<br>
<h1><a href="http://localhost:8081/user/lk">Личный кабинет</a></h1>
<br>


<div class="cards" style="margin-left: auto; margin-right: auto">
    <div class="card" th:each="el : ${formulars}">
        <div style="border:2px solid #ccc;width: 300px; color:#000000">
            <label>Номер записи: </label><p th:text="${el.getId()}"></p>
            <label>Код книги: </label><p th:text="${el.getBook_code()}"></p>
            <label>Дата получения: </label><p th:text="${el.getDate_begin()}"></p>
            <label>Дата возврата: </label><p th:text="${el.getDate_end()}"></p>
            <label>Статус возврата: </label>
            <p>
            <span th:if="${el.getReturn_status() == 0}">Не возвращена</span>
            <span th:unless="${el.getReturn_status() == 0}">Возвращена</span>
            </p>
            <p>
                <span th:if="${el.getReturn_status() == 0}">
                  <a th:href="@{/book/returnbook/id={p}(p=${el.getId()})}" class="btn btn-primary" >Вернуть</a>
                </span>
            </p>

        </div>
    </div>
</div>
<p th:text="${msg}"></p>
</body>
</html>